* {
    color: aliceblue;
}

body {
    background: linear-gradient(to bottom, rgb(47, 2, 46), rgb(25, 24, 25)) no-repeat fixed;
}

.surah-name,
.selected-surah-name {
    padding: 4px 8px;
    border-radius: 8px;
    margin: 8px;
    display: inline-block;
}

.surah-name {
    background-color: rgb(118, 26, 105);

}

.selected-surah-name {
    background-color: rgb(161, 7, 92);
}

.surah-name:hover {
    cursor: pointer;
}

.center-content {
    text-align: center;
    align-content: center;
}

p {
    margin-left: 16px;
}

button {
    color: aliceblue;
    background-color: rgb(104, 4, 129);
    border: none;
    padding: 4px 8px;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
}

.new-surah-container {
    padding: 16px;
    text-align: right;
    margin-bottom: 32px;
}

.shuffle-container {
    padding: 16px;
    text-align: right;
    margin-top: 32px;
    margin-bottom: 32px;
}

textarea {
    width: 100%;
    resize: none;
    background: linear-gradient(to left, rgb(39, 5, 38), rgb(25, 24, 25)) no-repeat fixed;

    border: 1px solid white;
    outline: none;
    border-radius: 4px;
}